[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
tqdm = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
